@model IEnumerable<IoT.Web.Models.Settings>

@{
    ViewBag.Title = "Index";
}

<h2>Setting</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardRPM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartAfter)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardRPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAfter)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>

